.container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 300px;
  text-align: center;
}

.btn {
  color: white;
  background-color: black;
  cursor: pointer;

  border: 1px solid rgb(7, 164, 231);
  border-radius: 4px;

  padding: 10px 20px;
  margin-top: 20px;

  transition: background-color 250ms linear, border-color 250ms linear;
}

.btn:hover {
  background-color: rgb(7, 164, 231);
}
