.input {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 5px;
  background-color: black;
  color: white;
  text-align: center;
  width: 250px;

  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
}
