.container {
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  /* outline: 1px solid red; */
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 515px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
