.container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.btn {
  color: white;
  background-color: black;
  cursor: pointer;

  border: 1px solid rgb(7, 164, 231);
  border-radius: 4px;

  padding: 10px 20px;
  margin-bottom: 20px;

  transition: background-color 250ms linear, border-color 250ms linear;
}

.btn.active {
  background-color: rgb(7, 164, 231);
}
